  
  
   

<header class="jumbotron jumbotron-animated fadeIn fast" >
    <a href="/" class="d-flex align-items-center line-height  text-dark text-decoration-none">
      <span class="fs-4">Bellas Artes</span><hr>
      
      <img src="assets\img\pincel.png" alt="" width="3%" height="100%" [hspace]="15">
    </a>
    
</header>


    <div class="container py-4"> 
      <div class="p-3 mb-4 bg-light rounded-2 ">
     <div class="col-span-1 sm:col-span-3 md:col-span-2" class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">

       <h1 class="display-3 fw-bold">Pintura App</h1>
       <p class="text-blue-600">El contenido de esta aplicacion sera de pinturas</p>

       <p class="animate-pulse text-cyan-900" aling-justify>
        
          
          concepto de arte es amplio, ambiguo y cambiante. Hace referencia a una serie de producciones que, generalmente de manera metafórica, expresan ideas, emociones, sentimientos, sensaciones o, simplemente, se realizan con el objetivo de producir en el espectador un efecto determinado que puede ser tanto el disfrute estético como emociones que van desde el temor hasta la experiencia religiosa.
          Dentro de las producciones artísticas se pueden considerar distintas disciplinas como la música, el teatro, la literatura, el cine, el paisajismo, la arquitectura y las artes plásticas (pintura, escultura, dibujo, grabado, etc.), entre otras.
          El estudio de las producciones artísticas ha sido abordado desde distintos campos del pensamiento, como la filosofía, la historia, la semiología y la antropología, pero no existe consenso, ni siquiera en el interior de cada una de esas áreas de estudio en definir qué es el arte y cuáles son sus características. Algunas definiciones ponen énfasis en la actividad del artista; otras, en las características de la obra y otras, en el efecto que las producciones artísticas provocan en el receptor.
          Una de las dificultades a la hora de definir el fenómeno artístico es que los objetos que en la actualidad se consideran obras de arte, han tenido funciones y valoraciones diferentes en distintas épocas. Por ejemplo, se considera que las pinturas en las paredes de las cuevas durante el Paleolítico tenían una función mágica; mientras que un fresco en una iglesia medieval tenía una función religiosa; un mural en un palacio del siglo XVII, una función estética y una pintura como el Saturno devorando a su hijo, realizada en la pared de su casa de campo por Francisco de Goya, tenía una función expresiva y personal.
          Así, la función de esos objetos, la valoración que las personas les daban, el concepto que tenían de quienes los producían y el rol que los artistas ocupaban en la sociedad no siempre fue igual.
          El concepto actual de arte comenzó a constituirse a partir de la Edad Moderna, cuando durante el Renacimiento, el espíritu humanista de la época hizo que la sociedad comenzara a valorar las obras de arte por su belleza y considerara a quienes las producían como miembros relevantes de la sociedad. Pero fue recién a partir del siglo XVIII, cuando surgieron disciplinas como la Historia del arte y la Estética, que tomaron el arte como objeto de estudio, buscaron delimitarlo y sistematizar sus contenidos.
          
       </p>
     </div>
      </div>
   
   </div>

   <div class="circulo"></div>
   
   
 
 