
<h6>{{obra.nombre}} <small>{{obra.aparicion}}</small> </h6>
<hr>

<div class="row animated fadeIn fast card-columns">

    <div class="col-md-4">

        <img [src]="obra.img" class="img-fluid" [alt]="obra.nombre">
        <br><br>
        <a [routerLink]="['/obras']" class="btn btn-outline-danger btn-block">Anterior</a>
    </div>

    <div class="col-md-8">

        <h4>{{obra.nombre}}</h4>
        <hr>
        <p>
            {{obra.bio}}
        </p>
        
        <div>
        
            <img *ngIf="obra.tipo == 'Realista'" clas="imglogo" src="assets/img/oleo02.png" alt="Realista" hspace="25"> 
            <img *ngIf="obra.tipo ==  'Fanart'" clas="imglogo" src="assets/img/negrilla.png" alt="Fanart">
        
        </div>
    
    </div>
</div>