<nav class="navbar navbar-expand-lg color"> <!--style="color:#8359FF -->
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><a class="navbar-brand" href="#">
        <img src="assets\img\bellas_artes.png" alt="" width="60xp" height="10%">
      </a>
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

           <!--ACTIVE-->
          <li class="nav-item letra" routerLinkActive="" >
            <a class="nav-link" [routerLink]="['home']"> Inicio</a>
          </li>
          <li class="nav-item letra">
            <a class="nav-link" [routerLink]="['obras']">Obras</a>
          </li>
          <li class="nav-item letra">
            <a class="nav-link" [routerLink]="['about']">Buscar</a>

          <li class="nav-item letra">
            <a class="nav-link" [routerLink]="['misnotas']">Notas</a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>


        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar Obras" (keyup)="buscarObra(buscarTexto.value)" #buscarTexto>
          <button (click)="buscarObra(buscarTexto.value)" class="btn btn-outline-primary" type="button"> Buscar </button>
         </form>


      </div>
    </div>
  </nav>
