/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  padding-bottom: 50px;
  
}

footer{
    color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.main container{
   margin-top: 20px; 
}

.obras2{
    font-family: 'Times New Roman', Times, serif;
   
}

.obras{
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imglogo{
    width:120xp;
}

.color{
  background-color:#87CEFA;
}
.letra{
  text-decoration-line: underline;
}

.modelo{
  border-image:none;

 }

 .imglogo{
  max-width: 100%;
  border-image: round;
 }


/*animaciones*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  
  