/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  padding-bottom: 50px;
  
}

footer{
    color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.obras2{
    font-family: 'Times New Roman', Times, serif;
   
}

.obras{
    font-style: italic;
   text-align: center;
   text-justify: auto;
}

.imglogo{
    width:120xp;
}

.color{
  background-color:#000000;
}
.letra{
  text-decoration-line: underline;
}

.boton{
  display: inline-block;
  padding: 1em 1em;
  color: rgb(7, 6, 6);
  border-radius: 1em;
  border:auto;
  outline: 2px solid black;
  outline-offset: auto;
}

.imglogo{
  max-width: 600px;
  border-image: round;
 }


/*animaciones*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  
 