/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  padding-bottom: 50px;
  background:rgb(0, 145, 255),rgb(0, 170, 255);
  height: 100fr;
  
}


footer{
    color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
<<<<<<< HEAD

=======
.display-3{
  text-align: center;
  text-transform:unset;
  
}
>>>>>>> Develop


.obras2{
    font-family: 'Times New Roman', Times, serif;
   
}

.obras{
    font-style: italic;
   text-align: center;
   text-justify: auto;
}

.imglogo{
    width:200px;
    initial: letter align 10px;;
}

.color{
  background-color:#000000;
}
.letra{
  text-decoration-line: underline;
}

.boton{
  display: inline-block;
  padding: 1em 1em;
  color: rgb(7, 6, 6);
  border-radius: 1em;
  border:auto;
  outline: 2px solid black;
  outline-offset: auto;
}
<<<<<<< HEAD

.imglogo{
  max-width: 600px;
  border-image: round;
 }
=======
.animate-pulse{
  text-align: justify;
  text-justify: auto;
}
.text-blue-600{
  text-decoration: solid;
  text-align: center;
}

>>>>>>> Develop


/*animaciones*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  
 