<div class="animated fadeInt fast">
  <img class="img-md sm:img-lg md:img-md  first-line:absolute"[src]="obras.img" alt="obras.nombre">
  <div class="md:hover">
    <h4 class="text-sm sm:text-lg md:text-xl text-justify">{{ obras.nombre }}</h4>
    <p class="text-md md:text-md md:text-xl text-justify">{{ obras.bio }}</p>
    
    <p class="text-md md:text-md md:text-xl text-justify"> <small class="text-muted">{{obras.aparicion}}</small></p>
    <p class="text-md md:text-md md:text-xl text-justify"> <small class="text-muted">{{ obras.tipo }} </small></p>
  
   <div class="boton bg-gradient-to-r  from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 ">
   <button (click)="verObras()"  
      type="button" class="" > 
      Ver mas...
   </button> 
  </div>
    <!--<a [routerLink]="['/obra',i]" class="btn btn-outline-primary">Ver mas..</a>--> 
  </div>
</div>
