<div class="card columns animated fadeInt fast">
  <img class="card-img-top img-fluid" [src]="obras.img" alt="obras.nombre">
  <div class="card-body">
    <h4 class="card-title">{{ obras.nombre }}</h4>
    <p class="card text-justify">{{ obras.bio }}</p>
    
    <p class="card-text"> <small class="text-muted">{{obras.aparicion}}</small></p>
    <p class="card-text"> <small class="text-muted">{{ obras.tipo }} </small></p>
  
   <div class="boton">
   <button (click)="verObras()"  
      type="button" class="bg-gradient-to-r  from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 " > 
      Ver mas...
   </button> 
  </div>
    <!--<a [routerLink]="['/obra',i]" class="btn btn-outline-primary">Ver mas..</a>--> 
  </div>
</div>
