 <h2>Obras </h2><small>Lienzo Artistico</small>

<hr>

<div class="card-columnas">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col"*ngFor="let color of arte">
          <div class="card"   >
            <img [src]="color.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ color.nombre }}</h5>
              <p class="card-text">{{ color.bio }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>

             
             

            </div>
            <button type="button" class="btn btn-outline-primary btn-block" > 
                Ver mas...
              </button>
          </div>
        </div>

</div>