 
<div class="h-14 bg-gradient-to-r from-cyan-500 to-blue-500">
  <div class="bg-clip-text text-transparent bg-gradient-to-r from-blue-200 to-violet-500">
    <h1 class="display-6 fw-bold">Obras</h1>
</div>
</div>

<div class="h-14 bg-gradient-to-r from-cyan-500 to-blue-500">
<small class="display-7 fw-bold">Lienzo Artistico</small>
</div>
<hr>
<div class="columns-3" >

  <app-obra-tarjeta [obras]="color" [fuera]="verObras" *ngFor="let color of arte; let verObras = index" ></app-obra-tarjeta>
  <svg class="stroke-cyan-500 ...">
    <!-- ... -->
  </svg>
</div>
x